<?xml version="1.0" encoding="utf-8"?>

<CONFIG>
  <BASIC_CONFIG>
    <LOCALHOST_IP>127.0.0.1</LOCALHOST_IP>
    <LOG_FILE_PATH>./log</LOG_FILE_PATH>
    <PERSIST_TIMEOUT>2</PERSIST_TIMEOUT>
    <MIDDLE_SERVER_PORT>63000</MIDDLE_SERVER_PORT>
    <THREAD_POOL_NR>4</THREAD_POOL_NR>
    <CMD_LISTEN_PORT>63001</CMD_LISTEN_PORT>
  </BASIC_CONFIG>
  <SYSTEM_CONFIG>
    <CA_CONFIG>
      <CA_IP>192.168.1.12</CA_IP>
      <CA_PORT>4512</CA_PORT>
    </CA_CONFIG>
    <MS_CONFIG>
      <MS_IP>192.168.1.82</MS_IP>
      <MS_PORT>63201</MS_PORT>
      <MS_HEARTBEAT_PORT>63202</MS_HEARTBEAT_PORT>
    </MS_CONFIG>
    <RS_CONFIG>
      <RS_IP>192.168.1.13</RS_IP>
      <RS_PORT>4510</RS_PORT>
    </RS_CONFIG>
    <MU_CONFIG>
      <MU_PORT>4500</MU_PORT>
      <MU_HASH_FILE_PATH>./mu_hash</MU_HASH_FILE_PATH>
    </MU_CONFIG>
    <SU_CONFIG>
      <SU_UPLOAD_PORT>9600</SU_UPLOAD_PORT>
      <SU_DOWNLOAD_PORT>9601</SU_DOWNLOAD_PORT>
      <SU_DELETE_PORT>9602</SU_DELETE_PORT>
      <SU_UPLOAD_STRATEGY>2</SU_UPLOAD_STRATEGY>
      <SU_HASH_FILE_PATH>./su_hash</SU_HASH_FILE_PATH>
    </SU_CONFIG>
  </SYSTEM_CONFIG>
</CONFIG>
